.footer {
  position: absolute; 
  background-color: #FFFAFA;
  top: 850px;
  width: 400px;
  z-index: -1;
  }

  .footer__div {
    display: flex;
    width: 400px;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer__name {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
  }
  
#social {
  width:"50"; 
  height:"50"
}